{{! ------------------------------ }}
{{!  TEMPLATE DESCRIPTOR TEMPLATE  }}
{{! ------------------------------ }}
{{!  * Main Structure:             }}
{{!                                }}
{{!    1. - Variables to fill      }}
{{!    2. - Constants              }}
{{!    3. - Functions              }}
{{!    4. - Event Maps             }}
{{!    5. - OnGigyaServiceReady    }}
{{!                                }}
{{! ------------------------------ }}
{{#template}}
# **{{name}}** template
{{#description}}{{description}}{{/description}}
{{^description}}NO DESCRIPTION{{/description}}
{{/template}}

---
{{#variables.0}}## Variables to fill inside the template{{/variables.0}}
{{#variables}}
    {{index}}. {{valueFormatted}}
{{/variables}}


{{#constants.0}}## Template constants{{/constants.0}}
{{#constants}}
    {{^isObject}}
        {{#quoted}}
        {{key}}: '{{{value}}}'{{^last}}, {{/last}}
        {{/quoted}}
        {{! Printing Number case}}
        {{^quoted}}
        {{key}}: {{{value}}}{{^last}}, {{/last}}
        {{/quoted}}
    {{/isObject}}
    {{#isObject}}
```
{{key}}: {{{value}}}{{^last}}, {{/last}}
```
    {{/isObject}}
{{/constants}}


{{#functions.0}}## Template Functions{{/functions.0}}
{{#functions}}
    {{key}}: {{{value}}}{{^last}}, {{/last}}
{{/functions}}

{{#events}}{{#eventMap.0}}## Template Events Map{{/eventMap.0}}{{/events}}
{{#events}}
{{#eventMap}}
```
{{{eventMap}}}
```
{{/eventMap}}
{{/events}}

{{#onGigyaServiceReady}}{{#valueTemplate.0}}## On Gigya Service Ready{{/valueTemplate.0}}{{/onGigyaServiceReady}}
{{#onGigyaServiceReady}}{{#valueTemplate}}
```
onGigyaServiceReady: {{{valueTemplate}}}
```
{{/valueTemplate}}{{/onGigyaServiceReady}}
## Template API Key
    {{apiKey}}
