{{! ----------------------------------------------------------------------------------}}
{{! [INIT EVENT MAP SECTION]}}
{{! ----------------------------------------------------------------------------------}}
{{#events}}
    {{#isDefaultEventMap}}
        // default
         customEventMap: {{{defaultCustomEventMap}}},
    {{/isDefaultEventMap}}

    {{^isDefaultEventMap}}
        {{#generatedEventMap}}
        // no default
           customEventMap: {{{generatedEventMap}}},
        {{/generatedEventMap}}
    {{/isDefaultEventMap}}
{{/events}}
{{! ----------------------------------------------------------------------------------}}
{{! [END EVENT MAP SECTION]}}
{{! ----------------------------------------------------------------------------------}}
