{{! ----------------------------------------------------------------------------------}}
{{! [INIT EVENT MAP SECTION]}}
{{! ----------------------------------------------------------------------------------}}
{{#events}}
    {{#generatedEventMap}}
    customEventMap: {
        eventMap: {{{generatedEventMap}}}
    },
    {{/generatedEventMap}}
{{/events}}
{{! ----------------------------------------------------------------------------------}}
{{! [END EVENT MAP SECTION]}}
{{! ----------------------------------------------------------------------------------}}
