// COLORS
$red: #f05050;
$blue: #1797be;
$green: #37bc9b;
$orange: #FF902B;
$yellow: #f0ad4e;
$body_bg_color: #525659; // Gris Chrome,
$_333: #333;


// $headerColor: #303030; // Gray
// $headerColor: #1A7DE1; // Navy Blue
$headerColor: #145AB8; // Denim
$asideColor: #d1d4d2;
$linkColor: #0275d8;

$tokenizedHeaderColor: red;
$tokenizedSignagureColor: #00b9f1;
$tokenizedPayloadColor: #D033FF;

// CONSTANTS
$pageSpace: 100px;
$contentPadding: 35px;
$imagePadding: 70px;
$asidePadding: 35px;
$contentBlockMarginBottom: 5px;

// Folios
$A4_Width: 1210px;
$A4_Height: 1712px;

// Initial zoom
$initialZoom: 100;

// RESPONSIVENESS
$mqDesktopLg: 1200px; // Usually $screen-lg-desktop;
$mqDesktop: 992px;   // Usually $screen-desktop;
$mqTablet: 768px;   // Usually $screen-sm-min;
$mqMobile: 480px;  // Usually $screen-phone;

// 1. Example using custom border mixin
@mixin border($width, $style, $color) {
  border: $width $style $color;
}


.is-bordered-s1 {
  @include border(1px, solid, #ccc);
}
